{{ ansible_managed | comment }}


{
#    debug
    admin off
    log {
        output file /var/log/caddy/access.log {
                roll_size 1gb
                roll_keep 5
                roll_keep_for 720h
        }
    }
    email {{ ca_certificate_email }}
    default_sni {{ public_fqdn }}
	local_certs
	skip_install_trust
}

(cors) {
	@origin header Origin {args.0}
	header_down @origin Access-Control-Allow-Origin "{args.0}"
	header_down @origin Access-Control-Request-Method GET
}

(cors_reg) {
  @{args.0} header_regexp Origin {args.0}
  header @{args.0} Access-Control-Allow-Origin {http.request.header.origin}
  header_down @origin Access-Control-Request-Method GET,POST
}

{{ public_access_url }} {
    tls internal

{% if proxy_services is defined %}
{% for proxy in proxy_services %}
    handle {{ proxy.path }} {
      reverse_proxy {{ proxy.host }} {
        header_down Access-Control-Allow-Origin *
        header_down X-Frame-Options SAMEORIGIN
      }
    }

{% endfor %}
{% endif %}

{% if static_files is defined %}
{% for static in static_files %}
    handle {{ static.path }} {
      root * {{ static.root }}
      file_server
    }
{% endfor %}
{% endif %}

{% if proxy_config is defined %}
    {{ proxy_config }}
{% else %}
    header ?Cache-Control max-age=3600
    header Server "Cadddy"
    handle {
      respond 404
    }
{% endif %}
}

